:root {
    --primary-color: #033f5f;
    --second-color: #007cbc;
    --neutral-grey: #747e83;
    --neutral-light: #ffffff;
    --highlight-color: #f5ba36;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background: black;
}
h1 {
    font-size: 2.5rem;
    color: var(--neutral-light);
}
h2 {
    font-size: 2rem;
    color: var(--primary-color);
}
h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}
p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey);
}
img {
    max-width: 100%;
}

/***** Layout *****/
.container {
    background: black;
    width: min(100%, 90rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.container > * {
    grid-column: span 12;
}

/* Desktop Layout */
@media screen and (min-width: 40rem) {
    .col-span-6 {
        grid-column: span 6;
        background-color: var(--primary-color);
    }

    .col-span-3 {
        grid-column: span 3;
        background-color: var(--second-color);
    }

    .col-span-12 {
        grid-column: span 12;
        background-color: var(--second-color);
    }

    .col-span-2 {
        grid-column: span 2;
       
    }
}